Backend/OnlineEducation/OnlineEducation/bin/
BackendService/BackendService/bin/
BackendService/BackendService/obj/
Backend/OnlineEducation/OnlineEducation/obj/
Backend/OnlineEducation/OnlineEducation/Migrations/
Backend/OnlineEducation/.vs/
Backend/OnlineEducation/.vs/OnlineEducation/
Backend/OnlineEducation/.vs/