<footer>
  <div class="footer-wrappper footer-bg">
    <!-- Footer Start-->
    <div class="footer-area footer-padding">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-4 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo mb-25">
                                <a routerLink=""><img src="assets/img/logo/logo2_footer.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>The automated process starts as soon as your clothes go into the machine.</p>
                                </div>
                            </div>
                            <!-- social -->
                            <div class="footer-social">
                                <a *ngFor="let footersocial of footerSocial" href="" ><i [class]="footersocial"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5" *ngFor="let footertittle of footerTittle">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>{{footertittle.header}}</h4>
                            <ul *ngFor="let caption of footertittle.caption">
                                <li><a href="">{{caption}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- Footer End-->
  </div>
</footer>
